body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 217, 230, 0.2);
    z-index: -1;
}

#feelings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ff69b4;
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
    width: 200px;
    text-align: center;
}

button:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

#quote-container {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }
    
    button {
        width: 180px;
        font-size: 0.9rem;
    }
}
